
<div class="row">  
  <button 
    mat-icon-button
    class="col-1"
    (click)="setTimeToNow()"
    matTooltip="Set curret time"
    tabindex="-1"
  >
    <i class="fa fa-clock"></i>
  </button>
  <mat-form-field class="col-1" *ngIf="index % 2 == 0">
    <input matInput readonly="true" tabindex="-1" value="Start">
  </mat-form-field>
  <mat-form-field class="col-1" *ngIf="index % 2 == 1">
    <input matInput readonly="true" tabindex="-1" value="Stop">
  </mat-form-field>
  <mat-form-field class="col-5">
    <mat-label>Insert hour</mat-label>
    <input [name]="'h' + index" [(ngModel)]="hours" matInput type="number">
  </mat-form-field>
  <mat-form-field class="col-5">
    <mat-label>Insert minutes</mat-label>
    <input [name]="'m' + index" [(ngModel)]="minutes" matInput type="number">
  </mat-form-field>
</div>