<div class="layout">
  <div class="column column--read">
    <app-day-hero
      [state]="dayState"
      [hoursDue]="hoursDue"
      [mealVoucherDetail]="mealVoucherDetail"
      [trainSuggestion]="trainSuggestion"
      (hoursDueChange)="onHoursDueChange($event)"
      (addTimbratura)="addInterval()"
    ></app-day-hero>
    <app-day-scene
      [progress]="dayState.progress"
      [overtimeMinutes]="dayState.overtimeMinutes"
      [status]="dayState.status"
      [mealVoucherEarned]="mealVoucherDetail.earned"
    ></app-day-scene>
  </div>

  <div class="column column--act">
    <button type="button" class="add-button" (click)="addInterval()">Aggiungi timbratura</button>

    <div class="rows">
      <app-timespan-row
        *ngFor="let value of intervals; let i = index"
        [index]="i"
        [value]="value"
        [invalid]="isInvalid(i)"
        (valueChange)="onIntervalChange(i, $event)"
      ></app-timespan-row>
    </div>

    <button type="button" class="remove-button" *ngIf="intervals.length > 0" (click)="removeLastInterval()">
      Rimuovi ultima
    </button>

    <div id="trains-block" class="trains-block">
      <app-trains></app-trains>
    </div>
  </div>
</div>
