
<div style="display: flex;flex-direction: column;height: 100%">
  <div class="row">
    <mat-form-field class="col-5">
      <mat-label>Insert hours due</mat-label>
      <input name="hd" [(ngModel)]="hoursDue" matInput type="number">
    </mat-form-field>
    <button class="col-7" mat-button (click)="intervals = []; numberOfIntervals = 0">RESET</button>
  </div>
  <div class="entry-container">
    <app-timespan-row
      *ngFor="let item of [].constructor(numberOfIntervals);let idx = index"
      [intervals]="intervals"
      [index]="idx"
      [onSetTime]="onSetTimes"
      (onGetData)="updateData($event)"
    ></app-timespan-row>
  </div>
  <div class="row">
    <button class="col-3" (click)="removeInterval()" mat-button>REMOVE</button>
    <button class="col-3" (click)="addInterval()" mat-button>ADD</button>
    <button class="col-6" [disabled]="(intervals.length % 2) == 1" (click)="calcTimeSpent()" mat-button>CALC</button>
  </div>
</div>